.create__title{
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.create__form{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem 2rem 1rem;
  @media screen and (min-width: 1024px) {
    width: 100%;
    flex-flow: row;
    flex-wrap:wrap;
    padding: 1rem;
  }
  &__fieldset{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 1px solid #1ABC9C;
    border-left: none;
    border-bottom: none;
    @media screen and (min-width: 1024px) {
      width: calc( 50% - 2rem);
    }
  }
  &__btn{
    width: 90%;
    height: 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #0a6956;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
    &:hover{
      background-color: #1ABC9C;
      transition: 0.4s;
    }
    @media screen and (min-width: 768px) {
      width: 60%;
    }
  }
}
